<?xml version="1.0" encoding="UTF-8"?>
<!-- script name should be in the format: \subfolder\ScriptName.ps1 -->
<!-- script frequency should be specified in minutes -->
<!-- if frequency is not specified at the script level, the global frequency will be used -->
<!-- if there is no subfolder, the script name should be in the format: \ScriptName.ps1 -->
<!-- param name: actual parameter name inside the script without the powershell "$" -->
<!-- Powershell Boolean parameters must be passed as a string. The powershell parser can't coerce booleans for some reason. -->
<!-- Powershell arrays may be passed in as delimited strings, example "*.zip", "*.txt", "*.xls" - however you will need to split on the delimiter within the script -->
<!-- if <param name = "PassConfig">True</param> is sent, this configuration will be passed along to the called script. -->

<root>
	<globals>
		<hostname name="{{HOSTNAME}}"></hostname>
		<logfile>{{USERPROFILE}}\Desktop\Task_Runner\logs\Task-Runner-{{DATE}}.log</logfile>
		<frequency>15</frequency>
	</globals>
	<script name="\file_mover\file-mover.ps1" frequency="1">
		<param name="SourceDir">{{OUTPUTDIR}}</param>
		<param name="DestinationDir">{{DESTINATIONDIR}}</param>
	</script>
	<script name="\phone_home\phone-home.ps1" frequency="1">
		<param name="SourceDir">{{USERPROFILE}}\Desktop\Task_Runner\updates</param>
		<param name="DestinationDir">{{USERPROFILE}}\Desktop\Task_Runner\destination</param>
		<param name="IncludedFiles">*.ps1, *.psm1, *.sql, *.cmd</param>
	</script>
</root>